<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{ loginActive?'Log in':'Sign Up' }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <form #loginForm="ngForm" *ngIf="loginActive" class="example-form" (ngSubmit)="login(loginForm.value)">
          <mat-form-field class="full-width d-block">
            <mat-label>Email</mat-label>
            <input ngModel type="email" matInput name="email" placeholder="Email" required>
          </mat-form-field>

          <mat-form-field class="full-width d-block">
            <mat-label>Password</mat-label>
            <input ngModel type="password" matInput name="password" placeholder="Password" required>
          </mat-form-field>
          <button mat-stroked-button color="primary" class="d-block btn-login">Log in</button>
          <p class="link-message">Here for the first time? <a (click)="setLoginActive(false)">Sign Up</a></p>

      </form>

      <form #signUpForm="ngForm" *ngIf="!loginActive" class="example-form" (ngSubmit)="signUp(signUpForm.value)" >
        <mat-form-field class="full-width d-block">
          <mat-label>Email</mat-label>
          <input ngModel type="email" matInput name="email" placeholder="Email" required>
        </mat-form-field>

        <mat-form-field class="full-width d-block">
          <mat-label>Password</mat-label>
          <input ngModel type="password" matInput name="password" placeholder="Password" required>
        </mat-form-field>
        <button mat-stroked-button color="primary" class="d-block btn-login">Sign Up</button>
        <p class="link-message">Already a user? <a (click)="setLoginActive(true)">Login</a></p>
    </form>
    </mat-card-content>
    </mat-card>
  </div>