.d-block {
    display: block;
}

mat-card {
    margin-top: 2em;
}

mat-stroked-button {
    width: 100%;
}

mat-card-header {
    justify-content: center;
    text-align: center;
    padding-bottom: 1em;
}

.btn-login {
    width: 20em;
}

.link-message {
    padding-top: 1em;
    text-align: center;
}

.link-message > a {
    text-decoration: underline;
    cursor: pointer;
}